@import "reset.css";
body{
  font-family: sans-serif, Montserrat;
  font-size:70px;
  max-width:900px;
  margin: 0 auto;
}
.color{
  background-color:black;
}
.photo{
  background: url("mol.jpg");
  width: 281px;
  height: 281px;
  align-self: flex-end;
  border-radius: 50%;
}
.main{
  display: flex;
  flex-direction: column;
}
.text{
  max-width:inherit;
  text-align: center;
}
.lamp{
  cursor: pointer;
  transition: opacity 2s ease;
}
.lamp:hover{
  opacity: 0;
}
.line{
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-flow: wrap;
  margin-bottom: 5%;
}

.switch{
  position: fixed;
  top: 0;
  left:0;
  cursor: pointer;
}
.dis{
  display: none;
}
.anime{
  animation: move 5s 1 alternate;
}
@keyframes move {
  0%{ transform: translateX(0em);}
  50%{ transform: translateY(-5em);
  transform: translateX(-5em);}
  /* 56%{transform: translateX(10em);}
  58%{transform: translateY(3em);}
  69%{transform: translateX(13em);}
  100%{transform: translateX(20em);} */
}
