@import 'reset.css';
@font-face{
font-family: 'Pragmatica';
src: url('Pragmatica.ttf');
font-weight: normal;
font-style: normal;
}

.background{
  width:100vw;
  height:100vh;
background: radial-gradient(94.35% 50% at 50% 50%, #000000 22.4%, #360000 100%);
display: flex;
flex-direction: column;
align-items: center;
overflow: hidden;

}
.head{
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  width:100%;
  height: 134px;
  clip-path: polygon(0 0, 100% 0, 85% 100%, 15% 100%);
  background: radial-gradient(17.01% 412.71% at 92.29% 74.52%, rgba(100, 19, 1, 0.4) 0%, rgba(0, 0, 0, 0) 100%), radial-gradient(14.55% 1798.9% at 5.76% 74.52%, rgba(95, 18, 1, 0.4) 0%, rgba(0, 0, 0, 0) 100%), #010101;
  -webkit-mask-box-image:url(mask.svg);
}
hr{
  width: 100%;
  height: 15px;
  border: none;
  background: radial-gradient(43.18% 337275.95% at 50.36% 39.4%, rgba(71, 16, 12, 0.3) 0%, #3B0E0B 69.27%);
}
.slider{
  width:61%;
  height: 70vh;
  background: linear-gradient(179.87deg, #2E0101 0.11%, rgba(247, 235, 179, 0) 99.89%), linear-gradient(78.86deg, #2E0101 -3.48%, rgba(252, 240, 183, 0) 49.4%), linear-gradient(277.84deg, #2E0101 -5.8%, rgba(254, 246, 211, 0) 47.1%), #FF9979;
  border-bottom: 30px solid black;
  border-left: 28px solid black;
  border-right: 28px solid black


}
.one{
  position: absolute;
  left: 3%;
  top: 70px;
  filter: drop-shadow(0px 0px 15px rgba(231,4,10,0.8));
}
.two{
  position: absolute;
  right: 3%;
  top: 70px;
  filter: drop-shadow(0px 0px 15px rgba(231,4,10,0.8));
}
h2{
  font-family: Pragmatica;
  font-size: 20px;
line-height: 30px;
text-align: center;
  color: rgba(255, 155, 0, 1);
  text-shadow: 0px 0px 15px rgba(255, 200, 57, 0.8);
}
.exit{
  cursor: pointer;
  background-color: #030303;;
  padding:5px 10px;
  border-radius: 6px;
  filter: drop-shadow(0px 0px 5px rgba(255, 155, 0, 1));
}
.door{
  margin-top:15px;
  background-color: black;
  height: 150px;
}
.vy{
  position: relative;
left: -20%;
top: 1%;
z-index:0 }

.chairs{
  position:fixed;
  /* bottom:0vh; */
  z-index: 1;
  display:flex;
  flex-direction: row;
  width: 90%;
 justify-content: space-around;
}
.stul{
  height:130px;
  width:176px;
  border-radius: 30px 30px 0px 0px;
}
.stul.odin{
  background: linear-gradient(156.45deg, #1E0000 6.12%, #501401 57.72%), linear-gradient(180deg, #501401 0.27%, #180601 100.08%), #4F1401;
}
.stul.dva{
  background: #9F2B07;
}
.stul.tri{
  background: #9F2B07;
}
.stul.che{

  background: linear-gradient(221.75deg, #1B0404 14.88%, #7B1F02 65%), #1B0404;
}
.fi, .re, .do{
  position:relative;
}
.fi >.chel{
    cursor: pointer;
  content: url(chel.svg);
  transform: scale(0.9);
  position: absolute;
  top: -350px;
  left: -50px;
  z-index: -2;
}

.re >.man{
cursor: pointer;
content: url(kissone.svg);
transform: scale(0.9);
position: absolute;
top: -150px;
left: -50px;
z-index: -2;
}
.do >.woman{
  cursor: pointer;
content: url(kisstwo.svg);
transform: scale(0.9);
position: absolute;
top: -145px;
left: -50px;
z-index: -2;
}
.sit{
  animation:sit 1.5s 1 ease-in .5s forwards;
}
.kiss{
  animation: kiss 2s 1 ease-in-out .2s alternate;
}
/* .stand{
  animation:stand 1s 1 ease-out forwards;
} */
.stul.pyat{
  background: #9F2B07;
}
.stul.shest{
  background: #9F2B07;
}
.stul.sem{
  background: linear-gradient(-156.45deg, #1E0000 6.12%, #501401 57.72%), linear-gradient(-180deg, #501401 0.27%, #180601 100.08%), #4F1401;
}
.in{
  position: relative;
  margin:5px auto 0;
  width: 161px;
  height: 131px;
  background: #0E0101;
  filter: blur(10px);
  border-radius: 38px 38px 0px 0px;

}
.chairs.first{
  position:fixed;
  bottom:0vh;
}
.chairs.second{
  width:96%;
  position:fixed;
  bottom:-6vh;
}

.second > .stul{
    width:185px;
}
.chairs.third{
  width:100%;
  position:fixed;
  bottom:-12vh;
}
.third > .stul{
    width:190px;
}
@keyframes sit {
  0%{
    top:-350px;
  }
  70%{
    top:-140px;
  }
  100%{
    top:-150px;
  }

}
@keyframes kiss {
  0%,100%{left: -50px;}
40%{left:-40px;}
70%{left:-40px;}
}
/* @keyframes stand {
  0%{
    top:-150px;
  }
  70%{
    top:-290px;
  }
  100%{
    top:-300px;
  }

} */
