@charset "UTF-8";

/******* SEVEN A (Arc) *******/
.container {
  animation: move 2s infinite linear alternate;
  position: absolute;
}
.block {
  animation: ball 6s infinite linear;
  border-radius: 50%;
  position: relative;
  left: auto;
  top: auto;
}

@keyframes move {
  0% {
    left:0%;
  }
  100% {
    left: calc(100% - 3.3em);
  }
}

@keyframes ball {
	0%,100%{
		top:10%;
		transform: scaleX(1) scaleY(1);
	animation-timing-function: cubic-bezier(.51,.01,.79,.02);}
	9%{
		transform: scaleX(0.7) scaleY(1.5);
	}
	10%{
		 top:calc(100% - 3em);
		transform: scaleX(1.3) scaleY(0.8);
		animation-timing-function: cubic-bezier(.19,1,.7,1)
	}
	14%{
		transform: scaleX(0.9) scaleY(1.2);
	}
	20%{top:20%;
		transform: scaleX(1) scaleY(1);
	animation-timing-function: cubic-bezier(.51,.01,.79,.02);}
	29%{
		transform: scaleX(0.8) scaleY(1.3);
	}
	30%{
		 top:calc(100% - 3em);
		transform: scaleX(1.2) scaleY(0.9);
	animation-timing-function: cubic-bezier(.19,1,.7,1)}
	34%{
		transform: scaleX(0.9) scaleY(1.2);
	}
	40%{
		transform: scaleX(1) scaleY(1);
		top:50%;
	animation-timing-function: cubic-bezier(.51,.01,.79,.02)}
	50%{
		 top:calc(100% - 3em);
			transform: scaleX(1.1) scaleY(0.9);
		animation-timing-function:cubic-bezier(.19,1,.7,1);
		
	}
	57%{
		transform: scaleX(0.9) scaleY(1.2);
	}
	60%{
		top:75%;
		transform: scaleX(1) scaleY(1);
		animation-timing-function: cubic-bezier(.51,.01,.79,.02);
	}
	65%{
		top:calc(100% - 3em);
			transform: scaleX(1.1) scaleY(0.9);
		animation-timing-function:cubic-bezier(.19,1,.7,1);
		left:50%;}
	67%{
		transform: scaleX(0.99) scaleY(1);
	}
	70%{
		top:85%;
		transform: scaleX(1) scaleY(1);
	animation-timing-function: cubic-bezier(.51,.01,.79,.02)}
	75%{
		 top:calc(100% - 3em);
			transform: scaleX(1.01) scaleY(0.99);
		animation-timing-function:cubic-bezier(.19,1,.7,1);
		}
	77%{
		transform: scaleX(1) scaleY(1);
	}
	80%{
		top:calc(100% - 5em);
		animation-timing-function: cubic-bezier(.51,.01,.79,.02);
	}
	85%{
		top:calc(100% - 3em);
		animation-timing-function:cubic-bezier(.19,1,.7,1);
	}
	90%{
		transform: scaleX(0.9) scaleY(1.05);;
	}
}

/* General styling */
body {
  margin: 0;
  background: chocolate;
}
.main {
  width: 100vw;
  height: 100vh;
  position: relative;
}
.container{
  height: 100vh;
}
.block {
  background: #FFDFAD;
  width: 3em;
  height: 3em;
  position: absolute;
  top: 50%;
  left: 50%;
}