@import "reset.css";
@font-face {
  font-family: 'Galaxy';
  src: url('Galaxy.ttf');
  font-weight: normal;
  font-style: normal;
  }
  @font-face {
    font-family: 'Main';
    src: url('Main.ttf');
    font-weight: normal;
    font-style: normal;
    }
    @font-face {
      font-family: 'MainBold';
      src: url('MainBold.ttf');
      font-weight: normal;
      font-style: normal;
      }
body{
  background-color: #040404;
  color: white;
  position: relative;

}
.header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #040404;
  width: 95%;
  padding:1% 2.5%;
  margin: 0 auto;
  position: fixed;
  z-index: 3;
  top:0;
  left:0;

}
.logo a{
  font-family: 'Galaxy';
  text-decoration: none;
    font-size: 18px;
    color: white;
}
.logo a:hover{

  text-decoration: underline;
  transition: all .5s ease-in;
}
.menue{
  font-family: 'Main';
}
.menue > a{
  color: white;
  text-decoration: none;
  margin-left: 30px;
  font-size: 18px;
}
.menue > a:hover{
  text-decoration: underline;
  transition: all .5s ease-in;
}
.osnovnoe{
 background: linear-gradient(180deg, rgba(0, 0, 0, 0) 80%, #FFFFFF 100%), #040404;
 height: 750px;
 position: relative;
 margin-top: 5%;
}
.osnovnoe h1{
  font-size: 140px;
  font-family: 'Galaxy';
  position: absolute;
  text-align: center;
  top: 20%;
  width: 100%;
}
p{
  line-height: 23px;
}
.running{
  color: #040404;
  position: absolute;
  font-family: 'Main';
  font-size: 20px;
}
.information{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 95%;
  margin: 0 auto;
  font-family: 'Main';
  font-size: 18px;
  padding-top: 68px;
  position: relative;
}
.hours{
  margin-left:5vw;
}
.decoration{
  position: relative;
height: 400px;
overflow: hidden;
}
.grad{
  height: 200px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 30%, #FFFFFF 100%), #040404;
  width: 100%;
  position: absolute;
  bottom: 232px;
  z-index: -1
}
.circle{
  height: 229px;
background: #050505;
border-radius: 51%;
width: 146%;
left: -20%;
position: absolute;
bottom: 43px;
z-index: 0;
}
.information p {
margin-bottom: 18px;
}
.nas{
  width: 95%;
  margin:-100px auto;
  position: relative;
  background-image: url('pictures/star.png');
  background-size: contain;
  background-repeat: no-repeat;
}
.strannoe{
  display: flex;
  flex-direction: row;
  margin-top: 5%;

}
.other{
  display: flex;
  flex-direction: column;
  margin-top: 2%;
}
.line{
  border-top: solid 1px #FFFFFF;
  position: relative;
}
.line::before{
  content: url('pictures/circle.svg');
  position: absolute;
  right: -20px;
  bottom: -13px;
}
.krug{
  height:180px;
  width:180px;
  background-image: url('pictures/planet.png');
  background-position: center;
  background-repeat: no-repeat;
  border: solid 1px #FFFFFF;
  border-radius: 50%;
}

.nas h1{
  font-size: 100px;
  font-family: 'Galaxy';
  text-align: left;
  width: 100%;
}
.nas h2{
  font-size: 21px;
  font-family: 'Main';
  text-align: left;
  padding: 20px;
/*   margin-top: 8%; */
}
.nas p{
  font-size: 18px;
  font-family: 'Main';
  text-align: left;
  width: 45%;
  margin: 8% 0;
}
h3{
  font-size: 25px;
  font-family: 'Galaxy';
  text-align: center;
  padding-bottom: 70px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 10%, #777 100%), #040404;
  width: 100%;
}
.cosmos{
  width: 100%;
  overflow: hidden;
}
.footer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 95%;
  margin: 0 auto;
  padding-top: 5%;
  border-bottom: solid 1px white;
  margin-bottom: 3%;
  position: relative;
}
.back{
  width:100%;
  height: 250px;
  position: absolute;
  bottom:0;
  background: #040404;
  filter: drop-shadow(0px -10px 10px #FFFFFF);
}
.footer::before{
  content: url('pictures/circle.svg');
  position: absolute;
  right: -20px;
  bottom: -13px;
}
.footer::after{
  content: url('pictures/circle.svg');
  position: absolute;
  left: -20px;
  bottom: -13px;
}
.footer p{
  font-size: 19px;
  margin: 17px;
  font-family: 'Galaxy';
}
.one, .three{
  margin-bottom: 3%;
}
.two{
  border-left: solid 1px white;
  border-right: solid 1px white;
  width: 30%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: relative;
}
.two::before{
    content: url('pictures/circle.svg');
    position: absolute;
    right: -11px;
    top: -19px;
}
.two::after{
    content: url('pictures/circle.svg');
    position: absolute;
    left: -11px;
    top: -19px;
}
.pic{
  background-repeat: no-repeat;
  background-position: center;
height:100px;
width: 100px;
position: relative;
}
.a{
  background-image: url('pictures/one.png');
  top:20px;
}
.b{
    background-image: url('pictures/two.png');
      top:-10px;
}
.c{
    background-image: url('pictures/three.png');
      top:15px;
}
.races{
  width: 95%;
  margin: 8% auto 0;
/*   background-image: url('pictures/pal.png');
background-repeat: no-repeat;
background-position:left;
background-size: auto; */
}
.races h1{
  font-size: 100px;
  font-family: 'Galaxy';
  text-align: left;
  width: 100%;
}
h1 span{
  margin-left: .7%;
}
.textes{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 5%;
}
.paragraph{
  font-family: 'Main';
  font-size: 18px;
  line-height: 23px;
  width: 50%;
  margin-bottom: 8%;
}
.sm{
    background: #000000;
  background-image: url('pictures/pal.png');
  background-repeat: no-repeat;
  background-position:left;
  background-size: auto;
  width: 100%;
}
.textes button{
  color:white;
 background: rgba(255,255,255, 0.1);
 border: solid 1px white;
  border-radius: 30px;
  padding: 5px 25px;
  font-size: 18px;
  font-family: 'main';
  color: white;
  margin-top: 3%;
}

.text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 5%;
}
.text button{
  color:white;
  background: rgba(255,255,255, 0.1);
  border: solid 1px white;
  border-radius: 30px;
  padding: 5px 25px;
  font-size: 18px;
  font-family: 'main';
  color: white;
  margin-top: 3%;
}
button:hover{
  background: rgba(255,255,255, 0.4);
  transition: all .3s ease-out;
}
.para{
  font-family: 'Main';
  font-size: 18px;
  margin-bottom: 8%;
  width:60%;
}
.para .other{
  margin-top: 8%;

}
.para .other h2{
  margin-left: 30px;
  font-size: 18px;
  margin-bottom: 2%;
}
.para .other .line{
  width:40vw;
}
.para p{
  margin-top: 5%;
  line-height: 23px;
}
.st{
  background: #000000;
background-image: url('pictures/startrack.png');
background-repeat: no-repeat;
background-position:right;
background-size: auto;
width: 100%;
}
.mapping{
  width:100%;
  background:  linear-gradient(180deg, rgba(12, 12, 12, 0.02) 42.92%, rgba(10, 9, 10, 0.2) 100%), #050505;
  background-image: url('pictures/galaxy.png');
  background-repeat: no-repeat;
  background-position:center;
  background-size: cover;
  height: 700px;
  position: relative;
  overflow: hidden;
}
.karta{
  position: absolute;
  width: 90%;
left: 7vw;
  height: 60%;
  margin: 5vw auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: 'Main';
  font-size: 13px;
}
.p1, .p2, .p3{
  align-self:flex-start;
}
.p1, .p3{
margin-top: 3vw;
}
.rr{
  cursor: pointer;
}
.rr :first-child{
  font-family: 'MainBold';
}
.rr::after{
  content: url('pictures/linii.png');
  height: 200px;
  width: 200px;
  position:relative;
  left: -20px;
  top: -28px;
}
.hidden{
  color: transparent;

}
.rr:hover .hidden{
  color: white;
  transition: .3s;
}
.map h1{
font-size: 100px;
font-family: 'Galaxy';
text-align: left;
width: 95%;
margin:8% auto 3%;
}
.block{
  margin: 5% 0 8% 0;
}
.gr p{
 position: absolute;
 bottom: 0;
  font-size: 20px;
  line-height: 25px;
  color:black;
  font-family: 'Main';
}
.gr{
  position: relative;
  height:100px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 20%, #FFFFFF 100%), #040404;
}
.rg p{
 position: absolute;
 top: 0;
  font-size: 20px;
  color:black;
  font-family: 'Main';
/*   margin-top: 13px; */
}
.rg{
  position: relative;
  height:100px;
  background: linear-gradient(180deg, #FFFFFF 20%, rgba(0, 0, 0, 0) 100%), #040404;
}
.gallery{
  width:95%;
  margin:0 auto;
}
.gallery h1{
  font-size: 100px;
  font-family: 'Galaxy';
  text-align: left;
  width: 100%;
  margin:8% auto;
}
.para a{
  text-decoration: underline;
  color:white;
  font-size: 18px;
  font-family: 'Main';
  display: block;
  margin:5%;
}
.flex{
  display: flex;
  flex-direction: row;
  width:85%;
  justify-content: space-between;
  height: 120vw;
  margin-top:20%;
  margin-bottom: 15%;
}
.od{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width:50%;
  height:100%;
  margin-left: 15%;
}
.od p{
  width:80%;
  font-family:"Main";
  font-size: 20px;
  color:white;
}
.dv{
  display: flex;
  flex-direction: column;
    justify-content: space-between;
  width:50%;
}
.container{
  position: relative;
  width: 80%;
}
.border{
  position: absolute;
background: linear-gradient(180.03deg, #FFFFFF -30.98%, rgba(255, 255, 255, 0) 99.98%);
  width: 100%;
  height:100%;
  z-index: -5;
}
.plakat{
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 420px;
  width:auto;
  box-sizing: content-box;
    -webkit-filter: grayscale(100%);
    position: relative;
    margin-top: 15%;
    z-index:2;
}
.s1{
    background-image: url('pictures/plak1.png');
}
.s2{
  background-image: url('pictures/plak2.png');
}
.s3{
  background-image: url('pictures/plak3.png');
}
.s4{
  background-image: url('pictures/plak4.png');
}
.dv p{
  font-size: 20px;
  color:white;
  font-family: 'Main';
  margin-bottom: 18px;

}
.plakat:hover{
  -webkit-filter: grayscale(0%);
  transition: all .3s linear;
}
.conta{
  width: 95%;
  margin: 0 auto 8% ;
}
.con{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width:50%;
  margin-bottom: 8%;
}
.conta h1{
  font-size: 100px;
  font-family: 'Galaxy';
  text-align: left;
  width: 100%;
  margin:8% auto;
}
.conta h2{
  font-size: 40px;
  font-family:'Galaxy';
  color: white;
}
.conta p{
    margin:40px 0;
}
.conta p{
  font-size: 18px;
  font-family: 'Main';
}
.polosa{
  width:100%;
  overflow: hidden;
}
.luna{
  /* background-image: url('pictures/luna.png');
  background-position: center; */
  position: absolute;
  width:100%;
  height:100%;
  top:0;
  left:0;
}
.luna img{
  position: absolute;
  right:0;
}
.card{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  padding:3%;
  position: fixed;
  top:20%;
  left:20%;
  width:60vw;
  height: 55vh;
  background: linear-gradient(179.78deg, #FFFFFF 28.76%, #555555 103.99%);
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 10px;
  color: black;
  z-index: 2;
}
.card img{
  width:
}
.carding{
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  padding:3%;
  position: fixed;
  top:8%;
  left:20%;
  width:60vw;
  height:90vh;
  background: linear-gradient(179.78deg, #FFFFFF 28.76%, #555555 103.99%);
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 10px;
  color: black;
  z-index: 2;
}
.ds{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height:60%;
}
.carding h1{
  font-family: 'Galaxy';
  font-size: 48px;
}
.carding p{
  font-family: 'Main';
  font-size: 18px;
  line-height: 23px;
}
p b{
  font-family: 'MainBold';
}

.sd{
  width: 100%;
  height: 200px;
  position: relative;
  border-radius: 12px;
  /* background-image: url('pictures/love.png'); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  filter:  drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

#exit{
  display: inline-block;
  position: absolute;
  right: 3%;
  top:3%;
  background: transparent;
  border: none;
  font-family:'Main';
  font-size: 30px;
  color: rgba(255, 255, 255, 1);
  filter:drop-shadow(0px 2px 3px rgba(0, 0, 0, 0.7));
  cursor: pointer;
}
.bl1{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.bl1 h2{
  font-family: 'Galaxy';
  font-size: 24px;
}
.bl1 p{
    font-size: 18px;
    font-family: 'Main';
}
.bl1 button{
  font-size: 22px;
  font-family: 'Main';
  padding: 10px 40px;
  background: rgba(255, 255, 255, 0.2);
 border-radius: 300px;
 border: solid 2px #777;
 filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.bl1 button:hover{
    background: rgba(255, 255, 255, 0.6);
}
.bl2{
/*   background-image: url('pictures/card1.png'); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* height:300px;
  width:300px; */
}
.running{
  display: block;
     width: 100%;
     white-space: nowrap;
     overflow: hidden;
     background: white;
}

.running span {
    display: inline-block;
    position: relative;
    left: -100%;
    -webkit-animation: scroll 10s infinite linear;
    -moz-animation: scroll 10s infinite linear;
    animation: scroll 10s infinite linear;
}
.polosa img, .cosmos img{
  width: 100%;
}
@keyframes scroll {
   0% {
       transform: translate(0, 0);
   }
   100% {
       transform: translate(100%, 0)
   }
}
