.red_circle{
position: absolute;
left: -34.39%;
top: 55.81%;
right: 7.17%;
bottom: 20.83%;
border-radius: 50%;
background: #E30613;
z-index: -1;
}
img.m{
  position: absolute;
  width: 1440px;
  z-index: -1;
  /* top: 31.71%; */

}
img.ns{
  position:absolute;
  width:50%;
  top:52%;
  left: 50%;
}
img.ss{
  position: absolute;
  width: ;
  top: 67%;
  left:;
}
img.ee{
  position: absolute;
  width:;
  top:72.5%;
  left:52%;

}
img.aa{
  position: absolute;
  top:78.5%;
  left:;

}
