.red_circle{
position: absolute;
left: -34.39%;
top: 4600px;
width:1853px;
height: 1853px;
border-radius: 50%;
background: #E30613;
z-index: -1;
}
img.m{
  position: absolute;
  width: 1440px;
  z-index: -1;
  /* top: 31.71%; */

}
img.ns{
  position:absolute;
  width:50%;
  top:52%;
  left: 50%;
}
img.ss{
  position: absolute;
  width: ;
  top: 67%;
  left:0;
}
img.ee{
  position: absolute;
  width:;
  top:72.5%;
  left:52%;

}
img.aa{
  position: absolute;
  top:6500px;
  left:0;

}
img.all{
  position: absolute;
  top:1200px;
}
