div.try{
  position:relative;
 overflow: hidden;
 margin-top: -200%;
 height:100em;
 z-index: -1;
 overflow: hidden;
}
img.fish{
  position:absolute;
  z-index: -1;
  width:100%;
  object-fit: cover;
  animation: fishes 50s infinite linear;
}
@keyframes fishes {
  0%{transform:rotate(0deg);}
  100%{transform:rotate(-360deg);}
}

div.deco{
  margin-top: -60%;
  display:grid;
  grid-template-columns: 1fr 2fr;
  align-items: flex-end;
}
.daily img{
  width:100%;
  object-fit: cover;
  animation: daily 6s infinite ease-out;
}
.time img{
  width:100%;
  object-fit: cover;
  animation: time 20s infinite linear alternate;
}
div.ticket{
  display: grid;
  margin-top: -10%;
  overflow:hidden;
}
.reg{
  width: 100%;
  object-fit: cover;
  animation: swim 10s infinite linear;
}
.ticket:hover .reg{
  animation-play-state: paused;
}

@keyframes swim {
  0%,7%{opacity:0}
  8%{transform: translateX(80em); opacity:1}
  13%{transform: translateX(40em);}
  94%{ transform: translateX(-80em) translateY(-5em) rotate(8deg);;opacity:1}
  94.5%,100%{opacity:0}
}
@keyframes daily {
  0%,5%{opacity:0}
  75%{transform: scale(1.1);}
  80%{transform: scaleX(1.2);opacity:1}
  82%{transform: scaleX(2) scaleY(2);opacity:1}
  83%,100%{opacity: 0}
}
 @keyframes time {
   20%{transform: rotate(10deg)}
   40%{transform: rotate(-10deg);}
   50%{transform:translateY(2em) rotate(10deg);
   70$t{transform: rotate(-10deg)}
   100%{transform:translateY(4em);}
 }
