div.try{
  position:relative;
 overflow: hidden;
 margin-top: -155%;
 height:100em;
 z-index: -1;
 overflow: hidden;
}
img.fish{
  position:absolute;
  z-index: -1;
  width:100%;
  object-fit: cover;
  animation: fishes 50s infinite linear;
}
@media all and (min-width: 375px)(max-width: 1440px) {
img.fish{width:100%;}
}
@media all and (max-width: 480px) {
  div.try{
    position:relative;
   overflow: hidden;
   margin-top: -155%;
   height:55em;
   z-index: -1;
   overflow: hidden;
}
@keyframes fishes {
  0%{transform:rotate(0deg);}
  100%{transform:rotate(-360deg);}

}
