/* svg{
  transition: 4s ease;
} */



.harry{
 animation: smth 2s infinite running
 }
 @keyframes smth{
  0%{
    transform:scale(1);
        transform: rotate(0deg);
  }
  100%{
  transform: rotate(-360deg);}
 }
.wow input[type="checkbox"]:checked ~ .harry {
animation: running;
}
input:checked ~ label{
  color: hotpink;
}
