@import 'reset.css';
@font-face{
font-family: 'Wermut';
src: url('Wermut.ttf');
font-weight: normal;
font-style: normal;
}
@font-face{
font-family: 'Pragmatica';
src: url('Pragmatica.ttf');
font-weight: normal;
font-style: normal;
}


body{
  background-color: black;
  cursor: default;
  overflow: hidden;
}
.top{
  display:flex;
  flex-direction: column;
  width:100vw;
  overflow: hidden;
}
.text
{
  font-family: Wermut;
  color: rgba(127,44, 54, 0.3);
  font-size: 227px;
  text-shadow: 0px 0px 50px rgba(172,18,37,1),0px 0px 10px rgba(172,18,37,0.6);
  -webkit-text-stroke: 3px white;
  margin:  0 2% ;
  -webkit-filter: blur(0.7px);
}
span{
  position: relative;
  left:20px;
}
.header{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;

}
.right-rays{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column;
  height:190px;
  justify-content: space-around;
  padding-top: 25px;
  margin-left: -5%;
  width: 481.01px;
}
.line{
position: relative;
height: 4.89px;
width: 100%;
background: #FFFFFF;
-webkit-filter: blur(2px);
border: 5px solid rgba(172,18,37,0.9);
border-right: 15px solid rgba(172,18,37,0.9);
border-left: 15px solid rgba(172,18,37,0.9);
border-radius: 5px;
box-shadow:  0px 7px 15px rgba(231,4,10,0.8), 0px -7px 15px rgba(231,4,10,0.8);
}
.line:hover{
  background: rgba(172,18,37,0.9);
  box-shadow:  none;
  -webkit-filter: blur(1px);
}
.left-rays{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column;
  height:190px;
  justify-content: space-around;
  padding-top: 25px;
  width: 481.01px;
}

.lights{
  display:flex;
  flex-direction: column;
  z-index: 2;
}
.circle{
  width: 8px;
  height: 8px;
  background-color: white;
  border-radius: 50%;
  margin: 0 3px;
  display: inline-block;
  -webkit-filter: blur(1px);
  box-shadow: 2px 2px 8px rgba(172,18,37,1), -2px -2px 8px rgba(172,18,37,1),-2px 2px 8px rgba(172,18,37,1),2px -2px 8px rgba(172,18,37,1);
}
.circle:hover{
  background: rgba(172,18,37,0.7);
  box-shadow: none;
}
.fonari{
  display:flex;
  justify-content: space-between;
  width:900px;;
  margin: 2% auto;
}
.hr1{
color:black;
background-color: black;
color: black;
background-color: black;
width: 100vw;
height: 2px;
border: none;
margin:0;
}
.main{
  display:flex;
  flex-direction: column;
  font-family: Pragmatica;
  align-items: center;
  justify-content: center;
  height: 403px;
  width: 100vw;
  background:radial-gradient(24.71% 85.51% at 25.29% 100%, rgba(63, 39, 2, 0.6) 0%, rgba(251, 239, 182, 0) 100%), radial-gradient(24.42% 125.26% at 74.42% 100%, rgba(69, 45, 8, 0.6) 0%, rgba(252, 240, 183, 0) 100%), linear-gradient(90deg, #372203 0%, rgba(252, 240, 183, 0) 18.49%), linear-gradient(270deg, #3D2400 0%, rgba(252, 240, 183, 0) 14.84%), #FCF0B7;
  -webkit-mask-box-image:url(Group.svg);
  transition: opacity 2s;
}
h1{
  font-size:80px;
  line-height: 90px;
  text-align: center;
  color: black;
  margin:0 auto;
  width: 91%;
}

article{
  display:flex;
  justify-content: space-around;
  width:741px;
  margin-top:3px;

}
.ticket{
  position:fixed;
  left:40vw;
  bottom:-500px;
  cursor: pointer;
  -webkit-filter: drop-shadow(5px 2px 3px rgba(0,0,0,0.5));
  z-index: 3;
}
#main{
  position:absolute;
  bottom:50px;
  left:0;
  width: 50%;
  height: 100%;
  cursor: pointer;
}
#main .popup {
    position: absolute;
    top:300px;
    left: 70px;
    width: 100%;
    /* text-align: center; */
    opacity: 0;
	  animation: popup 2s ease-in-out;
}
#main .popa {
    position: absolute;
    top:300px;
    left: 70px;
    width: 100%;
    /* text-align: center; */
    opacity: 0;
	  animation: popa 3s ease-in-out;
}
.wow{
  animation: move 2s 1 ease-in 1s forwards, drug 1s ease-out alternate infinite paused;
}
.wow:hover{
  position: absolute;
  bottom: -250px;
  animation: move 2s 1 ease-in 1s forwards paused, drug 1s ease-out alternate infinite ;
}
.hidden{
  opacity:0;
}
.back{
  animation: go 1s 1 ease-in forwards
}
.size{
  animation: sizing 2s 1 linear 2s forwards;
}
.saze{
  animation: sazing 5s 1 linear 2s forwards;
}
.none{
  display: none;
}
@keyframes popa {
	0% 		{ transform: translateY(0px) translateX(50px) scale(0.3); opacity: 0.5; }
	10% 	{ transform: translateY(0px) translateX(50px) scale(0.8); opacity: 1;   }
	90% 	{ opacity: 1; }
	95%	{ transform: translateY(-280px) translateX(50px)scale(0.8)}
  99% { transform: translateY(-280px) translateX(50px) scale(1);}
  100%{ opacity: 0;}
}
@keyframes popup {
	0% 		{ transform: translateY(0px) scale(0.5); opacity: 0.5; }
	10% 	{ transform: translateY(0px) scale(1); opacity: 1;   }
	90% 	{ opacity: 1; }
	95%	{ transform: translateY(-200px)translateX(0px) scale(1)}
  99% { transform: translateY(-200px) translateX(0px) scale(1.2);}
  100%{ opacity: 0;}
}
@keyframes move{
  0% {
   bottom: -500px;
 }
 90%{
   bottom: -240px;
 }
 100%{
   bottom: -250px;
 }
}
@keyframes drug {
  from{
    transform: rotate(0deg);
    -webkit-transform-origin: 100% 100%;
  }
  to{
    transform: rotate(5deg);
    -webkit-transform-origin: 100% 100%;
  }
}

@keyframes go {
  0% {
   bottom: -250px;
 }
 10%{
   bottom: -240px;
 }
 100%{
   bottom: -500px;
 }
}
@keyframes sizing {
  0%{
    transform: translateY(0);
  }
  100%{
    transform: translateY(-500px);
  }

}
@keyframes sazing {
  0%{
    transform: translateY(0);
  }
  100%{
    transform: translateY(500px);
  }

}
.screentwo{
  opacity: 0;
  transition: all 4s ease;
}
canvas{
  position:absolute;
  width:100%;
  height:100%;
  background:transparent;
  top:0;
  cursor: pointer;
  -webkit-filter:brightness(300%) saturate(0) blur(1px);


}
